[Unit]
Description=Digital asset management system

[Service]
EnvironmentFile=/etc/treasuryd.env
ExecStart=/usr/local/bin/treasuryd
Type=simple
User=treasury
Group=treasury
Restart=on-failure

[Install]
WantedBy=default.target
